<footer class="site-footer small-text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="wrapper">
    <!-- first row -->
     <div class="grid row">
        {% case section.blocks.size %}
          {% when 0 %}
          {% when 1 %}
            {% assign column_width = 'text-left' %}
          {% when 2 %}
            {% assign column_width = 'col-12 col-sm-6 col-md-6' %}
          {% when 3 %}
            {% assign column_width = 'col-12 col-sm-4 col-md-4' %}
          {% when 4 %}
            {% assign column_width = 'col-12 col-sm-6 col-md-3' %}
        {% endcase %}

        {% for block in section.blocks %}
          {% case block.type %}

            {% when 'menu' %}
              <div class="grid__item {{column_width}}">
                {% if  block.settings.title %}
                  <h3 class="site-footer__section-title">{{ block.settings.title | escape }}</h3>
                  <ul class="site-footer__menu">
                    {% for link in linklists[block.settings.menu].links %}
                      <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

            {% when 'text' %}
              <div class="grid__item {{ column_width }}">
                {% if block.settings.title %}
                  <h3 class="site-footer__section-title">{{ block.settings.title | escape }}</h3>
                {% endif %}
                <div class="rte">{{ block.settings.richtext }}</div>
              </div>

            {% when 'newsletter' %}
              <div class="grid__item {{column_width}}">
                {% if block.settings.title %}
                  <h3 class="site-footer__section-title">{{ block.settings.title |escape }}</h3>
                {% endif %}
                <h3 class="site-footer__section-title">{{ 'general.newsletter_form.newsletter_heading' | t }}</h3>
                {% include 'newsletter', label: block.settings.subtext %}
              </div>
          {% endcase %}
        {% endfor %}
     </div>
     <!-- second row -->
     <div class="grid row">
       {% if settings.footer_social_enable %}
         <div class="grid__item col-12 text-center">
           <h3>{{ 'layout.footer.social_title' | t }}</h3>
             <ul class="inline-list social-icons">
               {% if settings.social_twitter_link != blank %}
                 <li>
                   <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                     <span class="icon icon-twitter" aria-hidden="true"></span>
                     <span class="fallback-text">Twitter</span>
                   </a>
                 </li>
               {% endif %}
               {% if settings.social_facebook_link != blank %}
                 <li>
                   <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                     <span class="icon icon-facebook" aria-hidden="true"></span>
                     <span class="fallback-text">Facebook</span>
                   </a>
                 </li>
               {% endif %}
             </ul>
         </div>
       {% endif %}
     </div>
     <!-- third row -->
     <div class="grid row medium-up--grid--table sub-footer small--text-center">
       <div class="grid__item col-12 col-md-6" id="footer-copyright">
         <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
       </div>
       {%- if section.settings.show_payment_icons -%}
         {%- unless shop.enabled_payment_types == empty -%}
           <div class="grid__item col-12 col-md-6 large--text-right" id="footer-payment-icons">
             <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
             <ul class="list--inline payment-icons">
               {%- for type in shop.enabled_payment_types -%}
                 <li>
                   {{ type | payment_type_svg_tag : class:"icon icon--full-color" }}
                 </li>
               {%- endfor -%}
             </ul>
           </div>
         {%- endunless -%}
       {%- endif -%}
     </div>
     <!-- end of third row -->
  </div>
  <!--  end of class "wrapper" -->
</footer>



{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Contact us"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers.</p>"
          }
        ]
      },
    {
      "type": "newsletter",
      "name": "Newsletter signup",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "subtext",
          "label": "Subtext",
          "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
        },
        {
          "type": "paragraph",
          "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
